/* Variables */
:root {
    --body-color: #d6e4f5;
    --text-color: #052e63;
    --primary: #0A3871;
    --secondary: #0a4da0;
    --bg-footer: #38618a;
    --bg-btn: #F3F5FC;
    --bg-btn-hover: #D8DFE8;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-inline: 2vw;
}

header .encabezado {
    width: 100%;
    height: 4em;
}

.encabezado-logo {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-left: 1vw;
}

.logo img {
    width: 60px;
    transition: transform 0.3s, opacity 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    animation: beat-fade 1s infinite;
}

@keyframes beat-fade {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

.titulo-encabezado {
    font-weight: 600;
    font-size: 1.7em;
    margin-top: 4vh;
    color: var(--text-color);
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    margin-top: 0.4em;
    /* background-color: red; */
}

.entrada {
    flex: 1 1 200px;
    min-width: 280px;
    margin-top: 1.5em;
    
}

.salida {
    flex: 0 1 620px;
    min-width: 180px;
    margin-top: 1.5em;
    margin-right: 1em;
    margin-bottom: .5em;
}

.entrada textarea {
    width: 90%;
    background: var(--body-color);
    font-size: 1.2em;
    color: var(--primary);
    border: none;
    outline: none;
    resize: none;
    padding: 1em;
    font-family: inherit;
    margin-left: 1.1em;
}

::placeholder {
    color: var(--primary);
    opacity: 1;
    letter-spacing: 0.5px;
}

.salida {
    background: #a4c8df;
    border-radius: 32px;
    overflow: auto;
    max-height: 650px;
    padding: 1em;
}

.salida-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

h3 {
text-align: center;
}

#muneco {
    width: 100%;
    max-width: 250px;
}

#texto1, #texto2, #resultado {
    text-align: center;
    margin: 0.5em 0;
}

#resultado {
    font-weight: 900;
    font-size: 1.1em;
    color: black;
    padding: 5px;
    white-space: pre-wrap; /* Permite saltos de línea y quiebres automáticos */
    word-break: break-word;
    text-align: left; /* Evita desbordamiento horizontal */
}

.advertenciaBotones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    margin-bottom: 1em;
}

.advertencia{
    width: 100%;
}

h4 img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#error {
    font-size: 0.9em;
    color: #5d6d7e;
    opacity: 0.8;
    margin-left: 0.5em;
}

ul.botones {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.Encriptar, .Desencriptar, #copiar, #limpiar, .close {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    border: 1px solid var(--secondary);
    transition: background 0.2s;
}

.Encriptar {
    background: var(--primary);
    color: #fff;
    border-color: var(--primary);
}

.Encriptar:hover, .close:hover {
    background: hsl(214, 90%, 18%);
}

.Encriptar:active, .close:active {
    background: #052e63;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.Desencriptar, #copiar, #limpiar {
    background: var(--bg-btn);
    color: var(--secondary);
}

.Desencriptar:hover, #copiar:hover, #limpiar:hover {
    background: var(--bg-btn-hover);
}

.Desencriptar:active, #copiar:active, #limpiar:active {
    background: var(--bg-btn-hover);
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

#copiar, #limpiar {
    display: none;
}

footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: var(--bg-footer);
    margin-top: auto;
}

#derechos-Autor {
    font-weight: 700;
    font-size: 0.7em;
    color: #D8DFE8;
    margin-top: 0.5em;
}

#linkedin, #github {
    display: inline-block;
    width: 35px;
    height: 40px;
    margin: 0 10px;
}

.bounce:hover {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Modal */
.modal-container {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    z-index: 9999;
    visibility: hidden;
}

.modal-content {
    width: 360px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    text-align: center;
}

.modal-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1em;
}

.modal-content img {
    width: 90px;
    margin: 1em 0;
}

.modal-content p {
    font-size: 1em;
    color:#666;
    margin-top: .5em;
}

.modal-content #aceptar, .modal-content #aceptar-copiado {
    color: #fff;
    margin-top: 0.6em;
}

.close {
    background: var(--primary);
    color: #fff;
    border-color: var(--primary);
    margin: 1em auto 0 auto;
    display: block;
}

/* Responsive */
@media screen and (max-width: 900px) {
    .contenido {
        flex-direction: column;
        align-items: center;
    }
    .entrada, .salida {
        width: 95%;
        margin-bottom: 2em;
        margin-top: 2.5em;
    }
    ul.botones {
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .logo img {
        width: 60px;
    }
    .titulo-encabezado {
        font-size: 1.2em;
    }

    .entrada textarea {
        font-size: 1em;
        padding: 0.5em;
    }
    .modal-content {
        width: 95vw;
    }
    .Encriptar, .Desencriptar, #copiar, .close {
        width: 95vw;
        min-width: 180px;
        height: 45px;
        font-size: 0.9em;
    }
}